@model MDAProject.Web.Models.DeviceViewModel

@{
    ViewData["Title"] = "AddDeviceToInventory";
}

<h2>Add Inventory</h2>

<h4>Inventory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddDeviceToInventory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="WareHouseId" />
            <input type="hidden" asp-for="WareHouseManagerId" />

            <partial name="_Inventory" />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="DetailsInventory" asp-route-id="@Model.InventoryId" class="btn btn-success">Back to Property</a>
            </div>
        </form>
    </div>
</div>

